.root {
  position: relative;
}

.input{
  border: 1px solid rgba($color: #e98023, $alpha: 1.0);
  padding: 12px 20px;
  width: 300px;
  border-radius: 15px;
  font-size: 15px;
  position: relative;
  &:focus {
    border: 1px solid rgba($color: #e26f09, $alpha: 1.0);
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}